In [1]:
import numpy as np
import pandas as pd

In [2]:
with open("task6-data/web_clients.csv", encoding="utf-8") as f:
    df = pd.read_csv(f)

In [3]:
def func(v):
    if v > 25:
        return "Старше 25"
    else:
        return "Младше или равен 25"
df.head(15)["age"].apply(func)

0               Старше 25
1               Старше 25
2               Старше 25
3               Старше 25
4     Младше или равен 25
5               Старше 25
6               Старше 25
7               Старше 25
8               Старше 25
9               Старше 25
10              Старше 25
11              Старше 25
12    Младше или равен 25
13              Старше 25
14              Старше 25
Name: age, dtype: object

In [4]:
df["age"].apply(func)

0                Старше 25
1                Старше 25
2                Старше 25
3                Старше 25
4      Младше или равен 25
              ...
910    Младше или равен 25
911    Младше или равен 25
912              Старше 25
913    Младше или равен 25
914              Старше 25
Name: age, Length: 915, dtype: object

In [5]:
df.head(15).query("sex == 'male' and age > 30")

,name,device_type,browser,sex,age,bill,region
1,Allison Master. Hudson Trevor,tablet,Opera,male,48.0,850,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,48.0,371,New York: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39.0,867,Belfast: NI
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71.0,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,47.0,100,New York: NY
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80.0,723,Hessle: Yorks

In [6]:
df.query("sex == 'male' and age > 30")

,name,device_type,browser,sex,age,bill,region
1,Allison Master. Hudson Trevor,tablet,Opera,male,48.0,850,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,48.0,371,New York: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39.0,867,Belfast: NI
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71.0,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,47.0,100,New York: NY
...,...,...,...,...,...,...,...
900,"Johnston Master. William Arthur ""Willie""",desktop,Chrome,male,33.0,840,-
902,Johnston Mr. Andrew G,tablet,Internet Explorer,male,33.0,762,-
905,Jonsson Mr. Carl,desktop,Firefox,male,32.0,1136,-
909,Jussila Mr. Eiriik,desktop,Firefox,male,32.0,280,-
914,Karlsson Mr. Julius Konrad Eugen,laptop,Opera,male,33.0,798,-